*{
    
}
.container{
    height: 50px !important;
    width: 100% !important;
    position: relative !important;
    top: 0px !important;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.pic{
    height: 50px;
    width: 70px;
    margin-left: 30px;
    color: #0f83ff;
}
.nav button{
    border: none;
    background: none;
    font-size: 15px;
    color: #111;
    color: #0f83ff;
    margin-top: 30px;
    position: relative;
    left: 80%;
    cursor: pointer;
    
}
.nav .signup{
    background-color: #0f83ff;
    color: #fff;
    padding: 10px;
    border-radius: 100px;
    width: 100px;
	margin-right: 500px;
}
.nav .login{
    margin-right: 10px;
}
.body{
    width: 80%;
    margin: auto;
    color: #222;
    align-items: center;
    position: relative;
    display: flex;
}
.svg img{
    width: 550px;
    height: auto;
}
/* gg */
.signup_container {
	width: 100%;
	height: 90vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
} 
	
.signup_form_container {
    margin-top: 50px;
	width: 1100px;
	height: 500px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}
.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #247AFD;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 1;
    background-repeat: no-repeat;
    background-size: cover;
}
.left h1 {
	margin-top: 0;
	color: white;
	font-size: 35px;
	align-self: center;
}
.left h2 {
	margin-top: 0;
	color: white;
	font-size: 35px;
	align-self: center;
}
.left p {
	margin-top: 0;
	color: white;
	align-self: center;
}
.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}
.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
    font-family: "Inter";
      font-size: 18px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}
.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}
.green_btn {
    background: #247AFD;
	color: white;
	margin: 10px;
}
.messages{
    display: inline;
    justify-content: center;
    font-size: 10px;
    }
    
    .error{
    display: inline;
    background-color: rgb(255, 255, 255);
    color: rgb(200, 240, 21);
    width: fit-content;
    font-size: 9px;
    margin-top: -40px;
    height: 50px;
    padding: 5px;
    }
	.error h1{
		display: inline;
		background-color: rgb(255, 255, 255);
		color: rgb(200, 240, 21);
		width: fit-content;
		font-size: 14px;
		margin-top: -40px;
		height: 50px;
		padding: 5px;
		}
    .gogle{
      width: 100%;
      height: 40px;
      border-radius: 5px;
    }
    .success{
    display: inline;
    color: rgb(38, 189, 106);
    font-size: 9px;
    width:10%;
    height: 50px;
    padding: 5px;
    }
	.success h1{
		display: inline;
		color: rgb(38, 189, 106);
		font-size: 14px;
		width:10%;
		height: 50px;
		padding: 5px;
		}
	@media screen and (max-width: 600px) {
		.signup_container {
			width: 100%;
			min-height: 100vh;
			display: block;
			align-items: center;
			justify-content: center;
		} 
			
		.signup_form_container {
			margin-top: 20px;
			width: 100%;
			height: 700px;
			display: block;
			border-radius: 10px;
			box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
				0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
		}
		.left {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			justify-content: center;
			background-color: #247AFD;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.right {
			flex: 1;
			display: block;
			width: 100%;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		
	}
	@media screen and (max-width: 400px) {
		.signup_container {
			width: 100%;
			min-height: 100vh;
			display: block;
			align-items: center;
			justify-content: center;
		} 
			
		.signup_form_container {
			margin-top: 20px;
			width: 100%;
			height: 700px;
			display: block;
			border-radius: 10px;
			box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
				0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
		}
		.left {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			justify-content: center;
			background-color: #247AFD;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.right {
			flex: 1;
			display: block;
			width: 100%;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		
	}
	@media screen and (max-width: 300px) {
		.signup_container {
			width: 100%;
			min-height: 100vh;
			display: block;
			align-items: center;
			justify-content: center;
		} 
			
		.signup_form_container {
			margin-top: 20px;
			width: 100%;
			height: 700px;
			display: block;
			border-radius: 10px;
			box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
				0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
		}
		.left {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			justify-content: center;
			background-color: #247AFD;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.right {
			flex: 1;
			display: block;
			width: 100%;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		
	}